body{
    background-color: #202028;
    font-family: Georgia;
}

p{
    font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

p.input_space{
    margin: 10px;
}

p.text1 {
    font-size: 19px;
    margin-left: -240px;
    margin-top: -19px;
}

p.text2 {
    font-size: 19px;
    margin-left: -100px;
    margin-top: -50px;
}

.title1{
    line-height: 10px;
}

.form{
    text-align: center;
}

input[type="text"]{
    width: 420px;
    height: 40px;
    border-radius: 5px;
}

input.input_telefono {
    width: 210px;
    margin-left: -210px;
}

input.input_ciudad {
    width: 200px;
    float: right;
    margin: -56px 720px;
}

input::-webkit-input-placeholder{
    color: #73BCD0;
    font-size: 17px;
    padding-left: 15px;
    font-family: Georgia;
}

input[class="input_telefono placeholder_style"]::-webkit-input-placeholder {
    color: #C9704D;
}

.radio {
    max-width:400px;
    margin:10px 580px 0 auto;
}

.radio input[type="radio"] {
    position: absolute;
    opacity: 0;
    -moz-opacity: 0;
    -webkit-opacity: 0;
    -o-opacity: 0;
}

.radio input[type="radio"] + label {
    position: relative;
    padding: 0 0 0 25px;
    font-size: 16px;
    line-height: 25px;
    margin:0 0 10px 0;
}

.radio input[type="radio"] + label:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    right: -35px;
    height: 14px;
    width: 14px;
    background: white;
    border: 1px solid gray;
    box-shadow: inset 0px 0px 0px 2px white;
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    -o-box-shadow: inset 0px 0px 0px 2px white;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -o-border-radius: 8px;
}

.radio input[type="radio"]:checked + label:before {
    background: #4297AF;
}

.button {
    background-color: #4CADC9;
    border: none;
    color: white;
    padding: 13px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
    top: -92px;
    left: -142px;
    font-family: Georgia;
    font-size: 18px;
    width: 140px;
}