body{
	background-color: #202028;
	font-family: Georgia;
}

p{
	font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

p.input_space{
	margin: 10px;
}

.title1{
	line-height: 10px;
}

.form{
	text-align: center;
}

input[type="text"]{
    width: 420px;
	height: 40px;
    border-radius: 5px;
}

input.input_telefono {
    width: 210px;
    margin-left: -210px;
}

input.input_ciudad {
    width: 200px;
    position: absolute;
    top: 240px;
    right: 555px;
}

input::-webkit-input-placeholder{
 	color: #73BCD0;
 	font-size: 17px;
 	padding-left: 15px;
 	font-family: Georgia;
 }