body{
	background-color: #202028;
}

.title1{
	font-size: 30px;
    text-align: center;
    color: #FFFFFF;
}

.form{
	text-align: center;
}

input[type="text"]{
    width: 420px;
	height: 40px;
    border-radius: 10px;
}